<h1><%= @community.name %> _メンバー管理</h1>

<div class="community-show-wrapper">
  <div class="community-container">
    <div class="container community-show">
      <div class="row">
        <div class="col-md-8 offset-md-1 user-right">
          <table class="community-table admin-membership-table">
            <thead>
              <tr>
                <th>ユーザー名</th>
                <th>参加状態</th>
              </tr>
            </thead>

            <tbody>
              <% @memberships.each do |membership| %>
                <tr>
                  <td><%= membership.user.name %></td>
                  <td><%= membership.status %></td>
                </tr>
              <% end %>
            </tbody>
          </table>

          <%= link_to "コミュニティ詳細へ戻る", admins_community_path(@community) %>
        </div>
      </div>
    </div>
  </div>
</div>