<div class="admin-page-container">
  <div class="admin-page-title-wrap">
    <h1><%= @community.name %> _メンバー管理</h1>
  </div>
  <div class="admin-content-wrap admin-membership-wrapper">
    <table class="community-table admin-membership-table">
      <thead>
        <tr>
          <th>ユーザー名</th>
          <th>参加状態</th>
        </tr>
      </thead>

      <tbody>
        <% @memberships.each do |membership| %>
          <tr>
            <td><%= membership.user.name %></td>
            <td><%= membership.approved? ? "参加中" : membership.status %></td>
          </tr>
        <% end %>
      </tbody>
    </table>

    <div class="mt-3">
      <%= link_to "コミュニティ詳細へ戻る", admins_community_path(@community), class: "btn btn-outline-secondary" %>
    </div>
  </div>
</div>