<% if resource.errors.any? %>
  <div class="form-errors">
    <p class="form-errors__title">
      入力内容に誤りがあります。ご確認ください。
    </p>

    <ul class="form-errors__list">
      <% resource.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
    </ul>
  </div>
<% end %>