<h1>マイページ</h1>

<!-- 登録情報 表 -->
<div class="post-container">
<table class="user-table">
  <tr>
    <th class="bg-light">名前</th>
    <td>  <%= @user.name %></td>
  </tr>
  <tr>
    <th class="bg-light">メールアドレス</th>
    rungoals/app/views/registrations<td><%= @user.email %></td>
  </tr>
</table>

<%= link_to "編集する", edit_user_path(@user), class: "btn btn-primary px-4" %>
</div>