<h1>RunGoalsとは</h1>
<%= image_tag "running_top.webp", alt: "ランニング風景", class: "top-image" %>
<h5>

市民ランナーが目標と練習記録を共有し、<br>
他のランナーの記録から刺激を受けながら<br>
成長できるコミュニティサイトです。<br><br>

このアプリでできること<br>

・ランニングの練習記録を投稿<br>
・距離と時間からペースを自動計算<br>
・他のランナーの練習内容を閲覧<br>
・同じ目標を持つランナーの努力を参考にできる<br><br><br>

</h5>

<h5>
ランナー同士が練習記録や目標を通じてつながり、<br>
日々のトレーニング継続を支えるランニングコミュニティです。
</h5>