<div class="admin-page-container">
  <div class="admin-page-title-wrap">
    <h1>コミュニティ管理</h1>
  </div>

  <div class="admin-content-wrap">
    <div class="admin-search-wrap">
      <%= render "shared/search_form" %>
    </div>

    <div class="admin-table-wrap">
      <%= render "shared/communities",
        communities: @communities,
        detail_path: ->(community) { admins_community_path(community) } %>
    </div>
  </div>
</div>