<h1>投稿詳細</h1>
<p>Find me in app/views/posts/show.html.erb</p>

        <div>
          <table class="users-table">
            <tbody>
              <th>日付</th>
              <th>名前</th>
              <th>距離[km]</th>
              <th>時間</th>
              <th>ペース[分・秒/km]</th>
              <th>メモ・本文</th>
              <th>コメント</th>
              <th>投稿ボタン用</th>




            </tbody>
          </table>
        </div>