<h1>コミュニティ一覧</h1>
<div class="page-content">
<div class="community-container">

  <div class="container community-show">
    <div class="row">
        <div class="col-md-8 user-right">
          <%= render "shared/search_form" %>

          <div class="community-actions">
            <%= link_to "新規作成", new_community_path, class: "btn btn-primary px-4" %>
          </div>

          <%= render "shared/communities",
            communities: @communities,
            detail_path: ->(community) { community_path(community) } %>

        </div>
    </div>
  </div>
</div></div>