<h1>コミュニティ一覧</h1>

<div class="community-container">

  <div class="container community-show">
    <div class="row">
        <div class="col-md-8 offset-md-1 user-right">
          <%= render "shared/search_form" %>

          <% if flash.now[:alert] %>
            <p class="text-danger"><%= flash.now[:alert] %></p>
          <% end %>

          <div class="community-actions">
            <%= link_to "新規作成", new_community_path, class: "btn btn-primary px-4" %>
          </div>

          <%= render "shared/communities",
            communities: @communities,
            detail_path: ->(community) { community_path(community) } %>

        </div>
    </div>
  </div>
</div>