<h1>検索結果</h1>

<% if @communities.any? %>

  <%= render "shared/communities",
    communities: @communities,
    detail_path: ->(community) { community_path(community) } %>

<% else %>
  <p>該当するコミュニティはありません</p>
<% end %>
<br>
<%= link_to "一覧に戻る", communities_path %>