<h1>検索結果</h1>

<% if @communities.any? %>

<table class="community-table">
  <thead>
    <tr>
      <th>コミュニティ名</th>
      <th>コミュニティ紹介</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <% @communities.each do |community| %>
      <tr>
        <td><%= community.name %></td>
        <td><%= community.introduction %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<% else %>
  <p>該当するコミュニティはありません</p>
<% end %>